// LTR language directions

$default-float:       left;
$opposite-float:      right;

$default-direction:   ltr;
$opposite-direction:  rtl;

$font-family: Verdana;

$logo-img : JadoPado-Logo;

@import 'style';
