// RTL language directions

$default-float:       right;
$opposite-float:      left;

$default-direction:   rtl;
$opposite-direction:  ltr;

$font-family: GESS;

$logo-img : JadoPado-Logo-ar;

@import 'style';
