body {
  direction: $default-direction;
  font-family: $font-family
}

.column { float: $default-float; }

.media-image { padding-#{$opposite-float}: 1rem; }

.switcher {
  position: absolute;
  #{$opposite-float}: 20px;
  top: 20px;
}

  .navbar-nav>li {
    float: $default-float;
}
#jp_header_logo {
    background-image: url(https://uae.jadopado.com/resources/images/#{$logo-img}@2x.png);
    background-size: 180px;
    background-position: 25px 6px;
    height: 50px;
    width: 210px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;

}
