body {
  direction: ltr;
  font-family: Helvetica; }

.column {
  float: left; }

.media-image {
  padding-right: 1rem; }

.switcher {
  position: absolute;
  right: 20px;
  top: 20px; }

.navbar-nav > li {
  float: left; }
