body {
  direction: ltr;
  font-family: Verdana; }

.column {
  float: left; }

.media-image {
  padding-right: 1rem; }

.switcher {
  position: absolute;
  right: 20px;
  top: 20px; }

.navbar-nav > li {
  float: left; }

#jp_header_logo {
  background-image: url(https://uae.jadopado.com/resources/images/JadoPado-Logo@2x.png);
  background-size: 180px;
  background-position: 25px 6px;
  height: 50px;
  width: 210px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle; }
