<div class="col-md-6 col-md-offset-3 multbg-top-to-bottom shadowed">


       <h1>{{ "HI" | translate }} {{$root.globals.currentUser.fullname}}!</h1>
       <h3>{{ "HOME_TEXT" | translate }}</h3>
       <p>{{ "HOME_TEXT2" | translate }}:</p>

       <table class="table">
         <thead>
           <tr>
             <th>{{ "FIRSTNAME" | translate }}</th>
             <th>{{ "LASTNAME" | translate }}</th>
             <th>{{ "EMAIL" | translate }}</th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="user in allUsers" class="success">
             <td>{{user.firstname}}</td>
             <td>{{user.lastname}}</td>
             <td>{{user.username}}</td>
           </tr>

         </tbody>
       </table>

       <p>&nbsp;</p>
       <p><a href="#/login" class="btn btn-primary">{{ "LOGOUT" | translate }}</a></p>
</div>
